{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ course.name() }}</h1>
	<dl>
		<dt>Duration</dt>
		<dd>{{ course.duration }}</dd>
		<dt>Category</dt>
		<dd>{{ course.category.name }}</dd>
		<dt>Teachers</dt>
		<dd><ul>{% for teacher in course.trainers %}
				<li>{{ teacher.firstName }} {{ teacher.lastName }}</li>
				{% endfor %}</ul></dd>
		<dt>Published</dt>
		<dd>{{ course.published ? "yes" : "no" }}</dd>
		<dt>Content</dt>
		<dd>{{ course.content | nl2br }}</dd>
		<dt>Created</dt>
		<dd>{{ course.dateCreated }}</dd>
		{% if course.dateModified %}
			<dt>Modified</dt>
			<dd>{{ course.dateModified }}</dd>
		{% endif %}
	</dl>
	<a class="btn btn-primary" href={{ path('course_edit', { id: course.id }) }}>Edit course</a>
	<a class="btn btn-danger" href={{ path('course_delete', { id: course.id, token: csrf_token('delete-course-'~course.id) }) }}>Delete course</a>
{% endblock %}

{% block title %}

{% endblock %}

