{% extends 'base.html.twig' %}
{% block title %}Details | {{ parent() }}{% endblock %}
{% block body %}
	<h1>{{ wish.title }}</h1>
	<dl>
		{% if wish.imageFilename %}
			<dt>Illustration</dt>
			<dd><img src="/uploads/illustrations/{{ wish.imageFilename }}" alt="{{ wish.title }} image"/></dd>
		{% endif %}
		<dt>Author</dt>
		<dd>{{ wish.author }}</dd>
		<dt>Created</dt>
		<dd>{{ wish.dateCreated }}</dd>
		<dt>Published</dt>
		<dd>{{ wish.published ? "yes" : "no" }}</dd>
		<dt>Description</dt>
		<dd>{{ wish.description | nl2br }}</dd>
		{% if wish.dateModified %}
			<dt>Last Modified</dt>
			<dd>{{ wish.dateModified }}</dd>
		{% endif %}
	</dl>
	<button class="btn btn-primary">
		<a class="nav-link" href={{ path('wish_edit', { id: wish.id }) }}>Edit wish</a>
	</button>
{% endblock %}
