{% extends 'base.html.twig' %}
{% block title %}Details | {{ parent() }}{% endblock %}
{% block body %}
	<div class="card" style="padding: 1rem">
		{% if is_granted('ROLE_ADMIN') %}
			<div style="display: flex;flex-direction: row;justify-content: end;"><a class="btn btn-primary btn-small" href={{ path('wish_edit', { id: wish.id }) }}>Edit Wish</a>
				<a class="btn btn-danger btn-small"
				   style="margin-left: .25rem"
				   href={{ path('wish_delete', { id: wish.id, token: csrf_token('delete-wish-'~wish.id) }) }}>Delete
					Wish</a></div>
		{% endif %}
		<h1>{{ wish.title }}</h1>
		<p><b>{{ wish.wishCategory.name }}</b> <i>Created by {{ wish.author.username }} on {{ wish.dateCreated }}</i>
		</p>
		{% if wish.imageFilename %}
			<img src="/uploads/illustrations/{{ wish.imageFilename }}" alt="{{ wish.title }} image"/>
		{% endif %}
		<p>{{ wish.description | nl2br }}</p>
		{% if is_granted('ROLE_USER') %}
			<h2>Leave a comment</h2>
			{{ form_start(commentForm) }}
			{{ form_widget(commentForm) }}
			<button type="submit" class="btn btn-primary btn-small">Add Comment</button>
			{{ form_end(commentForm) }}
		{% endif %}
		{% if wish.comments | length > 0 %}
			<h2>Comments</h2>
			{% for comment in wish.comments %}
				<div class="card" style="padding: .5rem; margin:.5rem 0;background-color: rgba(250,235,215,0.5);">
					<p><i>Created by {{ comment.author.username }} on {{ comment.dateCreated }}</i></p>
					<p>{{ comment.displayRating }}</p>
					<p>{{ comment.description | nl2br }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<div><a class="btn btn-danger btn-small"
								href={{ path('comment_delete', { id: comment.id, token: csrf_token('delete-comment-'~comment.id) }) }}>Delete
								Comment</a></div>
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
