{% extends 'base.html.twig' %}
{% block title %}Details | {{ parent() }}{% endblock %}
{% block body %}
	<h1>{{ wish.title }}</h1>
	<dl>
		<dt>Illustration</dt>
		{#             {% if wish.imageFilename %} #}
		{#                     <dd><img src="{{ asset('wish.imageFilename') }}" alt="{{ wish.title }} image" /></dd> #}
		{#             {% endif %} #}
		<dt>Author</dt>
		<dd>{{ wish.author }}</dd>
		<dt>Created</dt>
		<dd>{{ wish.dateCreated }}</dd>
		<dt>Published</dt>
		<dd>{{ wish.published ? "yes" : "no" }}</dd>
		<dt>Description</dt>
		<dd>{{ wish.description | nl2br }}</dd>
		{% if wish.dateModified %}
			<dt>Modified</dt>
			<dd>{{ wish.dateModified }}</dd>
		{% endif %}
	</dl>
{% endblock %}


