{% extends 'base.html.twig' %}
{% block title %}Edit | {{ parent() }}{% endblock %}
{% block body %}
	<div>
		<h2>Edit wish "{{ wish.title }}"</h2>

		{{ form_start(wishForm) }}

		{{ form_widget(wishForm) }}

		{% if wish.imageFilename %}
			<div>
				<img src="{{ asset('uploads/illustrations/'~wish.imageFilename) }}" alt="{{ wish.title }}"><br>
			</div>
		{% endif %}
<br>
		<button class="btn btn-primary">Save modifications</button>

		{{ form_end(wishForm) }}

	</div>
{% endblock %}
