{% extends 'base.html.twig' %}
{% block title %}Edit | {{ parent() }}{% endblock %}
{% block body %}
	<div>
		<h2>Edit course "{{ course.name }}"</h2>

		{{ form_start(courseForm) }}

		{{ form_widget(courseForm) }}

		<br>
		<button class="btn btn-primary btn-small">Save modifications</button>

		{{ form_end(courseForm) }}

	</div>
{% endblock %}
