{% extends 'base.html.twig' %}
{% block title %}Course List | {{ parent() }}{% endblock %}
{% block body %}
	<h1>Courses</h1>
	<table class="table-sm">
		<thead>
		<th>Name</th>
		<td>Duration</td>
		<td>Category</td>
		<td>Trainers</td>
		<td>Published</td>
		<td>Created</td>
		<td>Modified</td>
		<td>Actions</td>
		</thead>
		<tbody>
		{% for course in courses %}
			<tr>
				<th><a href={{ path('course_show', {id: course.id}) }}>{{ course.name }}</a></th>
				<td>{{ course.duration }}</td>
				<td>{{ course.category.name }}</td>
				<td>
					{% if is_granted('ROLE_PLANNER') %}
						<a href="{{ path('course_show', {id: course.id}) }}">{{ course.trainers | length }} teachers</a>
					{% endif %}
				</td>
				<td>{{ course.published ? "yes" : "no" }}</td>
				<td>{{ course.dateCreated }}</td>
				<td>{{ course.dateModified }}</td>
				<td>
					<a  class="btn btn-primary btn-sm" href="{{ path('course_edit', {id: course.id}) }}">Modify</a>
{#					{% if is_granted(constant('App\\Security\\Voter\\CourseVoter::DELETE'), course) %}#}
					{% if is_granted('COURSE_DELETE', course) %}
						<a class="btn btn-danger btn-sm" href={{ path('course_delete', { id: course.id, token: csrf_token('delete-course-'~course.id) }) }}">Delete</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>

	</table>
{% endblock %}
